<nav class="navbar navbar-expand-lg mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaigns" routerLinkActive="active">Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-campaign" routerLinkActive="active">Add Campaign</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>